<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.springmvc_mybatis.mapper.BankslaMapper">
	<resultMap type="banksla" id="banksla">
		<result column="id" property="id" />
		<result column="bankid" property="bankid" />
		<result column="time" property="time" />
		<result column="normal_resp" property="nomal_resp" />
		<result column="total_req" property="total_req" />
		<result column="average_sla" property="average_sla" />
		<result column="available_ratio" property="available_ratio" />
		<result column="bank_name" property="bank_name" />
		<result column="available_ratio_threshold" property="available_ratio_threshold" />
		<result column="sla_threshold" property="sla_threshold" />
		<result column="mail_to" property="mail_to" />
	</resultMap>
	
	<!--查询所有数据 -->
	<select id="getAllbanksla" resultMap="banksla">
		select b.bank_name,b.available_ratio_threshold,b.sla_threshold,date_format(a.time,'%H:%i') as time,a.available_ratio,a.average_sla,a.normal_resp,a.total_req from banksla a,config b where a.bankid = b.bankid and a.time > (now() - interval 15 minute) and a.bankid=#{bankid}
	</select>
	
	<!--查询所有数据 -->
	<select id="getAllbankslas" resultMap="banksla">
		select b.bank_name,b.available_ratio_threshold,b.mail_to,b.sla_threshold,date_format(a.time,'%H:%i') as time,a.available_ratio,a.average_sla,a.normal_resp,a.total_req from banksla a,config b where a.bankid = b.bankid and a.time > (now() - interval 15 minute) order by b.bank_name asc,a.time asc
	</select>
	
	<!--根据bankid查询数据 -->
	<select id="getbankslaBybid" resultMap="banksla">
		select b.bank_name,b.available_ratio_threshold,b.sla_threshold,a.time,a.available_ratio,a.average_sla,a.normal_resp,a.total_req from banksla a,config b where a.bankid = b.bankid and b.bankid=#{bankid}
	</select>
	
	<!--分页查询sla  -->
	<select id="getBankslaPage" resultMap="banksla">
	SELECT t.bank_name,t.available_ratio_threshold,t.sla_threshold,DATE_FORMAT(a.time, '%H:%i') AS TIME,a.available_ratio,a.average_sla,a.normal_resp,a.total_req FROM banksla a, (SELECT c.bankid AS bankId,c.bank_name AS bank_name,c.sla_threshold AS sla_threshold ,c.available_ratio_threshold AS available_ratio_threshold FROM config c LIMIT #{start}, #{length}) t WHERE a.bankid = t.bankId AND a.time > (NOW() - INTERVAL 15 MINUTE) ORDER BY t.bank_name ASC,a.time ASC 
	</select>
</mapper>