<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.springmvc_mybatis.mapper.ConfigMapper">
	<resultMap type="Config" id="configResult">
		<result column="id" property="id" />
		<result column="bankid" property="bankid" />
		<result column="bank_name" property="bankname" />
		<result column="sla_threshold" property="sla_threshold" />
		<result column="available_ratio_threshold" property="available_ratio_threshold" />
		<result column="max_beyond_time" property="max_beyond_time" />
		<result column="rstatus" property="rstatus" />
		<result column="mail_to" property="mail_to" />
	</resultMap>
	
	<!--查询所有配置信息 -->
	<select id="getAllConfigs" resultMap="configResult">
		select * from config
	</select>
	
	<!--查询单个配置信息根据id -->
	<select id="getConfigByid" resultMap="configResult">
		select * from config where id=#{id}
	</select>
	
	<!--修改配置信息 -->
    <update id="updateConfigByid" parameterType="Config">
        update config set bankid=#{bankid},bank_name=#{bankname},
         sla_threshold=#{sla_threshold},available_ratio_threshold=#{available_ratio_threshold},
         max_beyond_time=#{max_beyond_time},rstatus=#{rstatus},mail_to=#{mail_to} where id=#{id}
    </update>
	
	<!--新增配置信息 -->
	<insert id="addConfig"  parameterType="Config">
         insert into config(bankid,bank_name,sla_threshold,available_ratio_threshold,max_beyond_time,rstatus,mail_to) 
         values(#{bankid},#{bankname},#{sla_threshold},#{available_ratio_threshold},#{max_beyond_time},#{rstatus},#{mail_to})
    </insert>
    
    <!--删除一条配置-->
    <delete id="deleteConfig" parameterType="config">
        delete from config where id=#{id}
    </delete>
    
    
</mapper>
