<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.springmvc_mybatis.mapper.PermissionMapper">
	<resultMap type="Permission" id="permission">
		<result column="permission_id" property="permissionId" />
		<result column="permission_name" property="permissionName" />
		<result column="permission_value" property="permissionValue" />
		<result column="permission_url" property="permissionUrl" />
	</resultMap>
	<select id="findBycolumns" resultMap="permission">
		select * from permission where 1=1
		<if test="permissionName != null">
			and permission_name=#{permissionName}
		</if>
		<if test="permissionValue != null">
			and permission_value=#{permissionValue}
		</if>
		<if test="permissionUrl != null">
			and permission_url=#{permissionUrl}
		</if>
	</select>
	
	<select id="findListBycolumns" resultMap="permission">
		select * from permission where 1=1
		<if test="permissionName != null">
			and permission_name=#{permissionName}
		</if>
		<if test="permissionValue != null">
			and permission_value=#{permissionValue}
		</if>
		<if test="permissionUrl != null">
			and permission_url=#{permissionUrl}
		</if>
	</select>
	
	<select id="findById" resultMap="permission">
		select * from permission where permission_id=#{permissionId}
	</select>
	
	<select id="findAll" resultMap="permission">
		select * from permission order by permission_value asc;
	</select>
	
	<select id="findAllLimitRole" resultMap="permission" parameterType="Integer">
		select * from permission where permission_value &lt;= #{rolePerValue}
	</select>
	
	<insert id="addPermission"  parameterType="Permission" useGeneratedKeys="true" keyProperty="permissionId">
        insert into permission (
		  permission_name,
		  permission_value,
		  permission_url
		) 
		values
		  (
		    '${permissionName}',
		    '${permissionValue}',
		    '${permissionUrl}'
		  ) 

    </insert>
    
	<update id="updatePermission"  parameterType="Permission" >
    	update 
		  monitor.permission 
		set
		  permission_name = '${permissionName}',
		  permission_value = '${permissionValue}',
		  permission_url = '${permissionUrl}' 
		where permission_id = '${permissionId}' 
    </update>
	
	 <delete id="deletePermission" parameterType="Integer">
  		delete 
		from
		  monitor.permission 
		where permission_id = '${permissionId}' ;
	</delete>
</mapper>
